@charset "UTF-8";

// Подключение шрифтов
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
@font-face {
  font-family: "icon-font";
  src:url("../fonts/icon-font.eot");
  src:url("../fonts/icon-font.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icon-font.woff") format("woff"),
  url("../fonts/icon-font.ttf") format("truetype"),
  url("../fonts/icon-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon], [class^="icon-"], [class*=" icon-"] {
  &:before {
    font-family: "icon-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-msg:before {
  content: "\61";
}
.icon-fb:before {
  content: "\62";
}
.icon-login:before {
  content: "\63";
}
.icon-menu:before {
  content: "\64";
}
.icon-add:before {
  content: "\65";
}
.icon-ref:before {
  content: "\66";
}
.icon-vk:before {
  content: "\67";
}

body {
  background-color: #d9d9d9 !important;
}
.container {
  background-color: white;
}

header {
  padding-top: 16px;
  padding-bottom: 20px;
  .h-logo-cnt {
    width: 155px;
    margin: 0 auto;
    padding-top: 15px;
    .h-logo {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
    .h-company-name {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 9px;
      padding-top: 5px;
    }
  }
  .left-border {
    border-left: 2px solid #dad6d6;
  }
  .h-services {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: table;
    .s-item {
      margin-bottom: 10px;
      a {
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        font-family: 'Roboto Slab', serif;
        &.si-add {
          color: #55c0a6;
        }
        &.si-reference {
          color: #ff4847;
        }
        &.si-adv {
          color: #f2ae1c;
        }
        &:hover {
          text-decoration: none;
        }
        .icon {
          padding-right: 7px;
          font-size: 17px;
          position: relative;
          top: 4px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }

    }
  }
}

.banner-promo {
  display: none;
}

#search-panel {
  background: #ededed;
  box-sizing: border-box;
  .sp-cnt {
    padding-top: 10px;
    height: 65px;
  }
  .menu-btn {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 30px;
    color: #ff4847;
    z-index: 5;
    cursor: pointer;
  }
  .site-menu {
    display: none;
  }
  .search-btn {
    position: absolute;
    top: 23px;
    right: 25px;
    width: 22px;
    height: 22px;
    background: url(../images/search-icon.png) no-repeat;
    z-index: 15;
    cursor: pointer;
  }
  #search-form {
    margin: 0;
    z-index: 10;
    position: relative;
    display: none;
    input[type=text] {
      width: 100%;
      font-size: 14px;
      padding: 10px;
      color: #7e7e7e;
    }
  }
  .auth-social-cnt {
    display: none;
  }
}

#rubrics {
  .r-cnt {
    padding: 15px 40px 15px 10px;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    height: 58px;
    text-transform: uppercase;
    line-height: 28px;
    color: #7e7e7e;
    .r-name {
      display: inline;
    }
    .icon-menu {
      font-size: 26px;
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
    }
    &.active {
      color: #65c5ad;
    }
  }
  .rubrics-menu {
    display: none;
  }
  .r-list-cnt {
    background: #65c5ad;
    display: none;
    .r-list {
      padding: 10px 0 10px 0;
      margin: 0;
      list-style: none;
      .r-item {
        float: left;
        padding-right: 35px;
        padding-bottom: 10px;
        a {
          color: white;
        }
      }
      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }
}

#banners {
  padding-bottom: 10px;
  .jcarousel {
    position: relative;
    overflow: hidden;
    ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
      }
    }
  }
  .jcarousel-pagination {
    position: absolute;
    top: 20px;
    left: 40px;
    a {
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      float: left;
      display: block;
      content: "";
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: #fff9fa;
      }
      &.active {
        background-color: #ff4847;
      }
    }
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  .b-block {
    &.b-big-block {
      height: 265px;
    }
    width: 100%;
    height: 165px;
    overflow: hidden;
    position: relative;
    .b-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      .b-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 0;
      }
      .b-rubric, .b-name, .b-date {
        z-index: 5;
        position: relative;
        color: white;
        display: block;
        cursor: pointer;
      }
      .b-rubric {
        font-size: 13px;
        font-weight: 500;
      }
      .b-name {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto Slab', serif;
      }
      .b-date {
        font-size: 12px;
      }
    }
  }
}

#mobile-auth-panel {
  display: none;
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: white;
  z-index: 1005;
  display: none;

  .auth-panel {
    padding: 20px;
    background: #ededed;
    .icon-login {
      color: #7e7e7e;
      position: relative;
      top: 2px;
      font-size: 16px;
      float: left;
    }
    a {
      padding: 0 10px 0 10px;
      color: #1a1a1a;
      border-right: 1px solid #1a1a1a;
      float: left;
      &:last-child {
        border: 0;
      }
      &:hover {
        color: #ff4847;
        text-decoration: none;
      }
    }
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  .m-cnt {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dad6d6;
    .m-item {
      a {
        display: block;
        text-transform: uppercase;
        padding: 20px;
        box-sizing: border-box;
        color: #1a1a1a;
        font-weight: bold;
        font-size: 14px;
        &:hover {
          background-color: #ff4847;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .m-socials {
    list-style: none;
    padding: 20px;
    margin: 0;
    .m-social-item {
      display: inline-block;
      a {
        font-size: 34px;
        margin-right: 10px;
        color: #7e7e7e;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#dark-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

#promos {
  display: none;
}

@media screen and (max-width: 450px) {
  header {
    .h-logo-cnt {
      width: 100px;
    }
    .h-services {
      .s-item {
        a {
          font-size: 8px;
        }
      }
    }
  }

}

@media screen and (min-width: 770px) {
  header {
    .h-logo-cnt {
      padding-top: 0;
    }
    .left-border {
      border-left: 0;
    }
    .h-services {
      width: 100%;
      .s-item {
        float: left;
        width: 33.3333%;
        padding: 10px 10px 10px 10px;
        box-sizing: border-box;
        a {
          font-size: 12px;
          .icon {
            font-size: 34px;
            position: relative;
            top: 4px;
            float: left;
          }
        }
        &:last-child {
        }
      }
    }
  }
  #promos {
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  #search-panel {
    .menu-btn {
      display: none;
    }
    .site-menu {
      list-style: none;
      display: block;
      padding: 15px 0 0 0;
      margin: 0;
      position: absolute;
      .m-item {
        float: left;
        margin-right: 25px;
        a {
          font-size: 14px;
          text-transform: uppercase;
          color: #1a1a1a;
          font-weight: bold;
          &:hover {
            color: #ff4847;
            text-decoration: none;
          }
        }
      }
    }
  }
  #rubrics {
    .rubrics-menu {
      display: block;
      padding: 0;
      margin: 0;
      position: absolute;
      list-style: none;
      top: 20px;
      left: 15px;
      .rm-item {
        float: left;
        margin-right: 25px;
        a {
          font-size: 14px;
          color: #7e7e7e;
          font-weight: 500;
          &:hover {
            color: #55c0a6;
            text-decoration: none;
          }
        }
      }
    }
    .r-cnt {
      .r-name {
        display: none;
      }
    }
    .r-list-cnt {
      display: none;
    }
  }
  .no-padding-right {
    padding-right: 0 !important;
  }
  .no-padding-left {
    padding-left: 0 !important;
  }
  #banners {
    .jcarousel-pagination {
      a {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }
    .b-block {
      height: 156px;
      &.b-big-block {
        height: 312px;
      }
    }
  }
  #mobile-auth-panel {
    display: block;
    position: fixed;
    right: 10px;
    top: 250px;
    a {
      margin-bottom: 10px;
    }
    .icon-login {
      display: block;
      background: #f3af1d;
      color: white;
      padding: 10px;
      font-size: 20px;
      &:hover {
        text-decoration: none;
      }
    }
    .icon-vk {
      display: block;
      color: #7e7e7e;
      font-size: 40px;
      &:hover {
        text-decoration: none;
      }
    }
    .icon-fb {
      display: block;
      color: #7e7e7e;
      font-size: 40px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #mobile-auth-panel {
    display: none;
  }
  .banner-promo {
    display: block;
  }
  header {
    .h-services {
      .s-item {
        padding: 10px 30px 10px 30px;
        box-sizing: border-box;
        a {
          font-size: 14px;
        }
      }
    }
  }
  #banners {
    .banner-promo {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .jcarousel-pagination {
      a {
        width: 10px;
        height: 10px;
        margin-right: 7px;
      }
    }
    .b-block {
    }
  }
  #rubrics {
    .rubric-btn {
      display: none;
    }
  }
  #search-panel {
    .search-btn {
      top: 84px;
    }
    #search-form {
      input[type=text] {
        width: 320px;
        top: 62px;
        right: 0;
        position: absolute;
      }
    }
    .auth-social-cnt {
      display: block;
      position: absolute;
      top: 25px;
      right: 15px;
      .m-socials {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding-left: 15px;
        position: relative;
        top: -10px;
        .m-social-item {
          display: inline-block;
          a {
            font-size: 34px;
            margin-right: 5px;
            color: #7e7e7e;
            &:hover {
              text-decoration: none;
            }
          }
          &:last-child {
            a {
              margin-right: 0;
            }
          }
        }
      }
      .auth-panel {
        display: inline-block;
        .icon-login {
          color: #7e7e7e;
          position: relative;
          top: 2px;
          font-size: 16px;
          float: left;
        }
        a {
          padding: 0 10px 0 10px;
          color: #1a1a1a;
          border-right: 1px solid #1a1a1a;
          float: left;
          &:last-child {
            border: 0;
          }
          &:hover {
            color: #ff4847;
            text-decoration: none;
          }
        }
        &:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
      }
    }
  }
}

@media screen and (min-width: 1170px) {
  header {
    .h-services {
      .s-item {
        padding: 10px 50px 10px 50px;
      }
    }
  }
}
