@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
@font-face {
  font-family: "icon-font";
  src: url("../fonts/icon-font.eot");
  src: url("../fonts/icon-font.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-font.woff") format("woff"), url("../fonts/icon-font.ttf") format("truetype"), url("../fonts/icon-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../sass/main.scss */
[data-icon]:before {
  content: attr(data-icon);
}

/* line 23, ../sass/main.scss */
[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 36, ../sass/main.scss */
.icon-msg:before {
  content: "\61";
}

/* line 39, ../sass/main.scss */
.icon-fb:before {
  content: "\62";
}

/* line 42, ../sass/main.scss */
.icon-login:before {
  content: "\63";
}

/* line 45, ../sass/main.scss */
.icon-menu:before {
  content: "\64";
}

/* line 48, ../sass/main.scss */
.icon-add:before {
  content: "\65";
}

/* line 51, ../sass/main.scss */
.icon-ref:before {
  content: "\66";
}

/* line 54, ../sass/main.scss */
.icon-vk:before {
  content: "\67";
}

/* line 58, ../sass/main.scss */
body {
  background-color: #d9d9d9 !important;
}

/* line 61, ../sass/main.scss */
.container {
  background-color: white;
}

/* line 65, ../sass/main.scss */
header {
  padding-top: 16px;
  padding-bottom: 20px;
}
/* line 68, ../sass/main.scss */
header .h-logo-cnt {
  width: 155px;
  margin: 0 auto;
  padding-top: 15px;
}
/* line 72, ../sass/main.scss */
header .h-logo-cnt .h-logo {
  display: block;
}
/* line 74, ../sass/main.scss */
header .h-logo-cnt .h-logo img {
  width: 100%;
  height: auto;
}
/* line 79, ../sass/main.scss */
header .h-logo-cnt .h-company-name {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 9px;
  padding-top: 5px;
}
/* line 87, ../sass/main.scss */
header .left-border {
  border-left: 2px solid #dad6d6;
}
/* line 90, ../sass/main.scss */
header .h-services {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: table;
}
/* line 95, ../sass/main.scss */
header .h-services .s-item {
  margin-bottom: 10px;
}
/* line 97, ../sass/main.scss */
header .h-services .s-item a {
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
}
/* line 103, ../sass/main.scss */
header .h-services .s-item a.si-add {
  color: #55c0a6;
}
/* line 106, ../sass/main.scss */
header .h-services .s-item a.si-reference {
  color: #ff4847;
}
/* line 109, ../sass/main.scss */
header .h-services .s-item a.si-adv {
  color: #f2ae1c;
}
/* line 112, ../sass/main.scss */
header .h-services .s-item a:hover {
  text-decoration: none;
}
/* line 115, ../sass/main.scss */
header .h-services .s-item a .icon {
  padding-right: 7px;
  font-size: 17px;
  position: relative;
  top: 4px;
}
/* line 122, ../sass/main.scss */
header .h-services .s-item:last-child {
  margin-bottom: 0;
}

/* line 130, ../sass/main.scss */
.banner-promo {
  display: none;
}

/* line 134, ../sass/main.scss */
#search-panel {
  background: #ededed;
  box-sizing: border-box;
}
/* line 137, ../sass/main.scss */
#search-panel .sp-cnt {
  padding-top: 10px;
  height: 65px;
}
/* line 141, ../sass/main.scss */
#search-panel .menu-btn {
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 30px;
  color: #ff4847;
  z-index: 5;
  cursor: pointer;
}
/* line 150, ../sass/main.scss */
#search-panel .site-menu {
  display: none;
}
/* line 153, ../sass/main.scss */
#search-panel .search-btn {
  position: absolute;
  top: 23px;
  right: 25px;
  width: 22px;
  height: 22px;
  background: url(../images/search-icon.png) no-repeat;
  z-index: 15;
  cursor: pointer;
}
/* line 163, ../sass/main.scss */
#search-panel #search-form {
  margin: 0;
  z-index: 10;
  position: relative;
  display: none;
}
/* line 168, ../sass/main.scss */
#search-panel #search-form input[type=text] {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  color: #7e7e7e;
}
/* line 175, ../sass/main.scss */
#search-panel .auth-social-cnt {
  display: none;
}

/* line 181, ../sass/main.scss */
#rubrics .r-cnt {
  padding: 15px 40px 15px 10px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  height: 58px;
  text-transform: uppercase;
  line-height: 28px;
  color: #7e7e7e;
}
/* line 190, ../sass/main.scss */
#rubrics .r-cnt .r-name {
  display: inline;
}
/* line 193, ../sass/main.scss */
#rubrics .r-cnt .icon-menu {
  font-size: 26px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
/* line 200, ../sass/main.scss */
#rubrics .r-cnt.active {
  color: #65c5ad;
}
/* line 204, ../sass/main.scss */
#rubrics .rubrics-menu {
  display: none;
}
/* line 207, ../sass/main.scss */
#rubrics .r-list-cnt {
  background: #65c5ad;
  display: none;
}
/* line 210, ../sass/main.scss */
#rubrics .r-list-cnt .r-list {
  padding: 10px 0 10px 0;
  margin: 0;
  list-style: none;
}
/* line 214, ../sass/main.scss */
#rubrics .r-list-cnt .r-list .r-item {
  float: left;
  padding-right: 35px;
  padding-bottom: 10px;
}
/* line 218, ../sass/main.scss */
#rubrics .r-list-cnt .r-list .r-item a {
  color: white;
}
/* line 222, ../sass/main.scss */
#rubrics .r-list-cnt .r-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 233, ../sass/main.scss */
#banners {
  padding-bottom: 10px;
}
/* line 235, ../sass/main.scss */
#banners .jcarousel {
  position: relative;
  overflow: hidden;
}
/* line 238, ../sass/main.scss */
#banners .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 244, ../sass/main.scss */
#banners .jcarousel ul li {
  float: left;
}
/* line 249, ../sass/main.scss */
#banners .jcarousel-pagination {
  position: absolute;
  top: 20px;
  left: 40px;
}
/* line 253, ../sass/main.scss */
#banners .jcarousel-pagination a {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  float: left;
  display: block;
  content: "";
  margin-right: 15px;
}
/* line 261, ../sass/main.scss */
#banners .jcarousel-pagination a:last-child {
  margin-right: 0;
}
/* line 264, ../sass/main.scss */
#banners .jcarousel-pagination a:hover {
  background-color: #fff9fa;
}
/* line 267, ../sass/main.scss */
#banners .jcarousel-pagination a.active {
  background-color: #ff4847;
}
/* line 271, ../sass/main.scss */
#banners .jcarousel-pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 279, ../sass/main.scss */
#banners .b-block {
  width: 100%;
  height: 165px;
  overflow: hidden;
  position: relative;
}
/* line 280, ../sass/main.scss */
#banners .b-block.b-big-block {
  height: 265px;
}
/* line 287, ../sass/main.scss */
#banners .b-block .b-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
/* line 294, ../sass/main.scss */
#banners .b-block .b-content .b-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 0;
}
/* line 304, ../sass/main.scss */
#banners .b-block .b-content .b-rubric, #banners .b-block .b-content .b-name, #banners .b-block .b-content .b-date {
  z-index: 5;
  position: relative;
  color: white;
  display: block;
  cursor: pointer;
}
/* line 311, ../sass/main.scss */
#banners .b-block .b-content .b-rubric {
  font-size: 13px;
  font-weight: 500;
}
/* line 315, ../sass/main.scss */
#banners .b-block .b-content .b-name {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
/* line 320, ../sass/main.scss */
#banners .b-block .b-content .b-date {
  font-size: 12px;
}

/* line 327, ../sass/main.scss */
#mobile-auth-panel {
  display: none;
}

/* line 331, ../sass/main.scss */
#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: white;
  z-index: 1005;
  display: none;
}
/* line 341, ../sass/main.scss */
#mobile-menu .auth-panel {
  padding: 20px;
  background: #ededed;
}
/* line 344, ../sass/main.scss */
#mobile-menu .auth-panel .icon-login {
  color: #7e7e7e;
  position: relative;
  top: 2px;
  font-size: 16px;
  float: left;
}
/* line 351, ../sass/main.scss */
#mobile-menu .auth-panel a {
  padding: 0 10px 0 10px;
  color: #1a1a1a;
  border-right: 1px solid #1a1a1a;
  float: left;
}
/* line 356, ../sass/main.scss */
#mobile-menu .auth-panel a:last-child {
  border: 0;
}
/* line 359, ../sass/main.scss */
#mobile-menu .auth-panel a:hover {
  color: #ff4847;
  text-decoration: none;
}
/* line 364, ../sass/main.scss */
#mobile-menu .auth-panel:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 372, ../sass/main.scss */
#mobile-menu .m-cnt {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dad6d6;
}
/* line 378, ../sass/main.scss */
#mobile-menu .m-cnt .m-item a {
  display: block;
  text-transform: uppercase;
  padding: 20px;
  box-sizing: border-box;
  color: #1a1a1a;
  font-weight: bold;
  font-size: 14px;
}
/* line 386, ../sass/main.scss */
#mobile-menu .m-cnt .m-item a:hover {
  background-color: #ff4847;
  color: white;
  text-decoration: none;
}
/* line 394, ../sass/main.scss */
#mobile-menu .m-socials {
  list-style: none;
  padding: 20px;
  margin: 0;
}
/* line 398, ../sass/main.scss */
#mobile-menu .m-socials .m-social-item {
  display: inline-block;
}
/* line 400, ../sass/main.scss */
#mobile-menu .m-socials .m-social-item a {
  font-size: 34px;
  margin-right: 10px;
  color: #7e7e7e;
}
/* line 404, ../sass/main.scss */
#mobile-menu .m-socials .m-social-item a:hover {
  text-decoration: none;
}

/* line 412, ../sass/main.scss */
#dark-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

/* line 424, ../sass/main.scss */
#promos {
  display: none;
}

@media screen and (max-width: 450px) {
  /* line 430, ../sass/main.scss */
  header .h-logo-cnt {
    width: 100px;
  }
  /* line 435, ../sass/main.scss */
  header .h-services .s-item a {
    font-size: 8px;
  }
}
@media screen and (min-width: 770px) {
  /* line 446, ../sass/main.scss */
  header .h-logo-cnt {
    padding-top: 0;
  }
  /* line 449, ../sass/main.scss */
  header .left-border {
    border-left: 0;
  }
  /* line 452, ../sass/main.scss */
  header .h-services {
    width: 100%;
  }
  /* line 454, ../sass/main.scss */
  header .h-services .s-item {
    float: left;
    width: 33.3333%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
  }
  /* line 459, ../sass/main.scss */
  header .h-services .s-item a {
    font-size: 12px;
  }
  /* line 461, ../sass/main.scss */
  header .h-services .s-item a .icon {
    font-size: 34px;
    position: relative;
    top: 4px;
    float: left;
  }

  /* line 473, ../sass/main.scss */
  #promos {
    display: block;
  }
  /* line 475, ../sass/main.scss */
  #promos img {
    width: 100%;
    height: auto;
  }

  /* line 481, ../sass/main.scss */
  #search-panel .menu-btn {
    display: none;
  }
  /* line 484, ../sass/main.scss */
  #search-panel .site-menu {
    list-style: none;
    display: block;
    padding: 15px 0 0 0;
    margin: 0;
    position: absolute;
  }
  /* line 490, ../sass/main.scss */
  #search-panel .site-menu .m-item {
    float: left;
    margin-right: 25px;
  }
  /* line 493, ../sass/main.scss */
  #search-panel .site-menu .m-item a {
    font-size: 14px;
    text-transform: uppercase;
    color: #1a1a1a;
    font-weight: bold;
  }
  /* line 498, ../sass/main.scss */
  #search-panel .site-menu .m-item a:hover {
    color: #ff4847;
    text-decoration: none;
  }

  /* line 507, ../sass/main.scss */
  #rubrics .rubrics-menu {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    top: 20px;
    left: 15px;
  }
  /* line 515, ../sass/main.scss */
  #rubrics .rubrics-menu .rm-item {
    float: left;
    margin-right: 25px;
  }
  /* line 518, ../sass/main.scss */
  #rubrics .rubrics-menu .rm-item a {
    font-size: 14px;
    color: #7e7e7e;
    font-weight: 500;
  }
  /* line 522, ../sass/main.scss */
  #rubrics .rubrics-menu .rm-item a:hover {
    color: #55c0a6;
    text-decoration: none;
  }
  /* line 530, ../sass/main.scss */
  #rubrics .r-cnt .r-name {
    display: none;
  }
  /* line 534, ../sass/main.scss */
  #rubrics .r-list-cnt {
    display: none;
  }

  /* line 538, ../sass/main.scss */
  .no-padding-right {
    padding-right: 0 !important;
  }

  /* line 541, ../sass/main.scss */
  .no-padding-left {
    padding-left: 0 !important;
  }

  /* line 546, ../sass/main.scss */
  #banners .jcarousel-pagination a {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  /* line 552, ../sass/main.scss */
  #banners .b-block {
    height: 156px;
  }
  /* line 554, ../sass/main.scss */
  #banners .b-block.b-big-block {
    height: 312px;
  }

  /* line 559, ../sass/main.scss */
  #mobile-auth-panel {
    display: block;
    position: fixed;
    right: 10px;
    top: 250px;
  }
  /* line 564, ../sass/main.scss */
  #mobile-auth-panel a {
    margin-bottom: 10px;
  }
  /* line 567, ../sass/main.scss */
  #mobile-auth-panel .icon-login {
    display: block;
    background: #f3af1d;
    color: white;
    padding: 10px;
    font-size: 20px;
  }
  /* line 573, ../sass/main.scss */
  #mobile-auth-panel .icon-login:hover {
    text-decoration: none;
  }
  /* line 577, ../sass/main.scss */
  #mobile-auth-panel .icon-vk {
    display: block;
    color: #7e7e7e;
    font-size: 40px;
  }
  /* line 581, ../sass/main.scss */
  #mobile-auth-panel .icon-vk:hover {
    text-decoration: none;
  }
  /* line 585, ../sass/main.scss */
  #mobile-auth-panel .icon-fb {
    display: block;
    color: #7e7e7e;
    font-size: 40px;
  }
  /* line 589, ../sass/main.scss */
  #mobile-auth-panel .icon-fb:hover {
    text-decoration: none;
  }
}
@media screen and (min-width: 992px) {
  /* line 597, ../sass/main.scss */
  #mobile-auth-panel {
    display: none;
  }

  /* line 600, ../sass/main.scss */
  .banner-promo {
    display: block;
  }

  /* line 605, ../sass/main.scss */
  header .h-services .s-item {
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
  }
  /* line 608, ../sass/main.scss */
  header .h-services .s-item a {
    font-size: 14px;
  }

  /* line 615, ../sass/main.scss */
  #banners .banner-promo {
    width: 100%;
    height: auto;
  }
  /* line 618, ../sass/main.scss */
  #banners .banner-promo img {
    width: 100%;
    height: auto;
  }
  /* line 624, ../sass/main.scss */
  #banners .jcarousel-pagination a {
    width: 10px;
    height: 10px;
    margin-right: 7px;
  }

  /* line 634, ../sass/main.scss */
  #rubrics .rubric-btn {
    display: none;
  }

  /* line 639, ../sass/main.scss */
  #search-panel .search-btn {
    top: 84px;
  }
  /* line 643, ../sass/main.scss */
  #search-panel #search-form input[type=text] {
    width: 320px;
    top: 62px;
    right: 0;
    position: absolute;
  }
  /* line 650, ../sass/main.scss */
  #search-panel .auth-social-cnt {
    display: block;
    position: absolute;
    top: 25px;
    right: 15px;
  }
  /* line 655, ../sass/main.scss */
  #search-panel .auth-social-cnt .m-socials {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 15px;
    position: relative;
    top: -10px;
  }
  /* line 662, ../sass/main.scss */
  #search-panel .auth-social-cnt .m-socials .m-social-item {
    display: inline-block;
  }
  /* line 664, ../sass/main.scss */
  #search-panel .auth-social-cnt .m-socials .m-social-item a {
    font-size: 34px;
    margin-right: 5px;
    color: #7e7e7e;
  }
  /* line 668, ../sass/main.scss */
  #search-panel .auth-social-cnt .m-socials .m-social-item a:hover {
    text-decoration: none;
  }
  /* line 673, ../sass/main.scss */
  #search-panel .auth-social-cnt .m-socials .m-social-item:last-child a {
    margin-right: 0;
  }
  /* line 679, ../sass/main.scss */
  #search-panel .auth-social-cnt .auth-panel {
    display: inline-block;
  }
  /* line 681, ../sass/main.scss */
  #search-panel .auth-social-cnt .auth-panel .icon-login {
    color: #7e7e7e;
    position: relative;
    top: 2px;
    font-size: 16px;
    float: left;
  }
  /* line 688, ../sass/main.scss */
  #search-panel .auth-social-cnt .auth-panel a {
    padding: 0 10px 0 10px;
    color: #1a1a1a;
    border-right: 1px solid #1a1a1a;
    float: left;
  }
  /* line 693, ../sass/main.scss */
  #search-panel .auth-social-cnt .auth-panel a:last-child {
    border: 0;
  }
  /* line 696, ../sass/main.scss */
  #search-panel .auth-social-cnt .auth-panel a:hover {
    color: #ff4847;
    text-decoration: none;
  }
  /* line 701, ../sass/main.scss */
  #search-panel .auth-social-cnt .auth-panel:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
@media screen and (min-width: 1170px) {
  /* line 716, ../sass/main.scss */
  header .h-services .s-item {
    padding: 10px 50px 10px 50px;
  }
}
